<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>successfully</title>
</head>
<body>
    <h2>You've been successfully registered with us.</h2>
    <p>move to login page </a></p>
</body>
</html>