*{margin: auto;padding: 0%;box-sizing: border-box;
}.form-container{justify-content:center;background-color:#9294968a;text-align:center;width:50vh;height:50vh;margin-top:24vh;border-radius:24px;font-family:cursive;font-size:35px;color:#146c27bf;box-shadow:9px 8px 9px #0000006b;}
.form-container h2{
    color:black
}#password{ width:25vh ;border-radius: 5px;height:30px;background-color:bisque}
#name{
  width:25vh ;border-radius: 5px;height:30px;background-color:bisque
}.submit-btn{cursor:pointer;width:11vh;height:4vh;font-family:sans-serif;font-size:22px;border-radius:24px;background-color:black;color:yellow;box-shadow:4px 4px 2px #c62369ab;}
.submit-btn:hover{background-color: yellowgreen;color:black;box-shadow:4px 4px 2px grey ;}
